// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Navbar Styles

.navbar-default {
	background-color: #03a9f4;
	border-color: #03a9f4;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #eeeeee;
}

.navbar-default .navbar-toggle {
    background-color: #017BB0;
    border-color: #017BB0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #015C83;
    border-color: #015C83;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


// Page Header Styles

.page-header {
	border-color: #aaa;
}


// Question Panel Styles

.question-panel {
	position: relative;
	border-color: #BCE4D5;
}

.question-panel .panel-heading {
	background-color: #D5FDEE;
	color: #567E6F;
}

.question-panel .panel-body {
	font-size: 14px;
}

.question-panel-show {
	position:absolute; 
	  width:100%;
	  height:100%;
	  top:0;
	  left: 0;

	  /* edit: added z-index */
	  z-index: 1;
}

.question-panel-link {
	position: relative;
	z-index: 2;
}/*Red: #ff5252*/

.question-panel .panel-body .controls{
	opacity: 0;
}

.question-panel.hover .panel-body .controls {
	opacity: 100;
}

@media (max-width: 767px) {
	.question-panel .panel-body .controls{
		opacity: 100;
	}
}


// Circle Button Styles

.circle-button {
	background-color: #03a9f4;
	border-color: #03a9f4;
	border-radius: 30px;
	padding: 10px 20px 10px 20px;
	font-size: 30px;
	position: relative;
	z-index: 100;
	margin-right: 5px;
}

.circle-button:hover {
	background-color: #0090DB;
	border-color: #0090DB;
}


// Select Box Styles

.form-group select {
	margin-top: 8px;
}


// Form Actions Styles

.form-group.actions {
	border-top: 1px solid #dcdee3;
	padding-top: 15px;
	margin-bottom: 0px;
}