<div class="form-group">
  <%= f.label :name, "Sub Category", class: "col-sm-3 control-label" %>
  <div class="col-sm-6">
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="col-sm-1">
  	<%= link_to_remove_fields "Remove", f, "btn btn-danger btn-xs pull-right" %>
  </div>
</div>